@charset "UTF-8";

.q4_text_center {
  text-align: center;
}

.q4_display_inline {
  display: inline-block;
}

.q4_mx_auto {
  margin: 0 auto;
}

.q4_table {
  display: table;
}

.q4_table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q4_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q4_relative {
  position: relative;
}

.q4_fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q4_flexible {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}

/* q4が終わったら
q5のcssはq5フォルダの中のcssファイルに記述してください */